.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(6, 155, 36);
    min-width: 100px;
    box-shadow:  2px 2px 5px rgba(0, 128, 0, 0.263);

}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: aqua;
}
.dropdown a:hover{
    background-color: blanchedalmond;
}