body{
    margin: 0;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: blue;
    /*transform: translateX(50px);/*move to the right about 50px and - will move to leeft*/
    /*transform: translateY(50px);*/
    /*transform: translate(-50px, 50px);
    transform: rotateZ(135deg);
    transform: scaleX(2);
    transform: skewX(45deg);*/
    transform: translateX(100%) rotateZ(90deg) scale(0.5);

}